{% extends 'base.html' %}

{% block title %}
    add stock page
{% endblock %}


{% block body %}
    <h1> Indexes page</h1>
<script>
const response = await fetch('/plot')
const item = await response.json()
Bokeh.embed.embed_item(item)
</script>
{% endblock %}
