{% extends 'base.html' %}

{% block title %}
    Indexes page

{% endblock %}

{#{% macro calc_percents(name, value='', type='text', size=20) -%}#}
{#    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">#}
{#{%- endmacro %}#}

{% block body %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {#            <br>#}
        <h1 class="h2"> {{ username }} dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add index to tracking
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#RemoveIndex">
                Remove an index
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Index tracker</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Please enter index ticker
                            <form method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <label for="stock_ticker">Index ticker:</label>
                                <input
                                        id="stock_ticker_input"
                                        name="index_ticker"
                                        type="text"
                                        minlength="2"
                                        maxlength="4"
                                        placeholder="NVDA"
                                        required
                                >
                                <input type="hidden" name="delete_pressence" value="not_delete">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="RemoveIndex" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Index tracker</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Please enter index ticker
                            <form method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <label for="stock_ticker">Index ticker:</label>
                                <input
                                        id="stock_ticker_input"
                                        name="index_ticker"
                                        {#                                        value="DELETE"#}
                                        type="text"
                                        minlength="1"
                                        maxlength="5"
                                        placeholder="NVDA"
                                        required
                                >
                                <input type="hidden" name="delete_pressence" value="delete">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Remove</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {#            <div class="btn-group me-2">#}
            {#                <button type="button" class="btn btn-sm btn-outline-secondary">Add index</button>#}
            {#                <button type="button" class="btn btn-sm btn-outline-secondary">Remove Index</button>#}
            {#            </div>#}
            {#            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Add random index</button>#}
            <a href="{{ url_for('add_random') }}" class="btn btn-info" role="button">Add random Index</a>
            </button>
        </div>
    </div>

    <h2> Here you can see top index today dynamics</h2>
    <a href="{{ url_for('index') }}" class="btn btn-outline-primary" role="button">Refresh</a>
    <br></br>
    {% with messages = get_flashed_messages() %}
        {% if messages and not error %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {#    <h2>Section title</h2>#}
    {#    {% if error %}#}
    {#        <p class=error><strong>Error:</strong> {{ error }}#}
    {#  {% endif %}#}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    {#    {% with messages = get_flashed_messages() %}#}
    {#  {% if messages %}#}
    {#    <script>#}
    {#      var messages = {{ messages | safe }};#}
    {#      for (var i=0; i<messages.length; i++) {#}
    {#        alert(messages[i]);#}
    {#      }#}
    {#    </script>#}
    {#  {% endif %}#}
    {#{% endwith %}#}

    <div class="table-responsive">

    <p id="index_ticker"></p>
    <p id="index_indicator"></p>
    <p id="index_indicator_first"></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#    <script>#}
{#        function set_form(id, value) {#}
{#            document.getElementById(id).innerHTML = value;#}
{#            return true#}
{#        }#}
{##}
{#        function get_data(ticker0, index_ticker_form, index_indicator_form) {#}
{#            var price_out = 0;#}
{#            let ticker_out = '';#}
{#            $(document).ready(function () {#}
{#                $.ajax({#}
{#                    dataType: "json",#}
                    {#TODAY PRICE#}
{#                    url: "/stocks/get_index_price/",#}
{#                    data: 'ticker=' + ticker0,#}
{#                    success: function (result) {#}
                        {#alert(result.ticker + ' \t' + result.price)#}
{#                        price_out = result.price#}
{#                        ticker_out = result.ticker#}
{#                        set_form(index_ticker_form, ticker_out)#}
{#                        set_form(index_indicator_form, price_out)#}
{#                    },#}
{#                    error: function () {#}
{#                        alert('Error occured');#}
{#                    }#}
{#                });#}
{#            });#}
{#        }#}
{#        #}
{#    </script>#}
    {#  https://stackoverflow.com/questions/3302702/jquery-return-value-using-ajax-result-on-success    #}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    {#    <meta id="length1" content={{ list_indexes|tojson }}>#}

    {#    <meta id="length1" content={{ length0 }}>#}

    <script type=text/javascript>
        {#len1 = document.querySelector('meta[id="length1"]')['content']#}
        {#list_indexes = document.querySelector('meta[id="length1"]')['content']#}
        function setting_toay_price(){
            var list_indexes = {{ list_indexes|tojson }};
            var cur_day_prices_open = {{ current_day_prices |tojson }}
            list_indexes = JSON.parse(list_indexes);
            $(document).ready(function () {
                var id_stock = '#' + 'id_stock_ticker'
                var id_stock = 'id_stock_price'
                var id_stock_base = 'id_stock_price'

                var id_change_today = '#' + 'id_change_today'
                var id_change_today = 'id_change_today'
                var id_change_today_base = 'id_change_today'
                var count = 0
                for (const [index_n, ticker_n] of Object.entries(list_indexes)) {
                    {#for (let ii = 0; ii < list_indexes.length ; ii++) {#}
                    var tik = ticker_n
                    $.getJSON({
                        url: $SCRIPT_ROOT + '/stocks/get_index_price',
                        data: {ticker: tik},
                        success: function (data) {
                            {#count += 1#}
                            id_stock = id_stock_base + (index_n)
                            id_stock_change = id_change_today_base + (index_n)

                            var change = (  ((data.price - cur_day_prices_open[ticker_n] )  / cur_day_prices_open[ticker_n]  )*100).toFixed(2);
                            document.getElementById(id_stock).innerHTML = data.price.toFixed(2);
                            document.getElementById(id_stock_change).innerHTML = change;
                        }
                    });
                    {#return false; dont enable this!!!#}
                }
            });
            }
function yourFunction(){
    // do whatever you like here

    setTimeout(setting_toay_price, 1000);
    var xxxxx = {{ current_day_prices |tojson }};
    var second = xxxxx["ADBE"];
    console.log(second)
}

yourFunction();
        {#setting_toay_price()#}
    </script>


    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ticker</th>
            <th scope="col">index open</th>
            <th scope="col">Current moment price</th>
            <th scope="col">Today change (%)</th>
            <th scope="col">last day close</th>
            <th scope="col">price change (d/d,%)</th>
            <th scope="col">seekingalpha</th>
        </tr>
        </thead>
        <tbody>
        {% for ticker,valueP in current_day_prices.items() %}
            {% set id_stock_ticker = 'id_stock_ticker' ~ loop.index %}
            {% set id_stock_price = 'id_stock_price' ~ loop.index %}
            {% set change_today = 'id_change_today' ~ loop.index %}
            {#            {% set id_stock_price = 'id_stock_price' ~ loop.index %}#}

            {% set diff = (last_day_prices[ticker] - current_day_prices[ticker]) / (last_day_prices[ticker]  / 100) %}
            <tr>
                <td> {{ loop.index }}</td>
                <td>
                    <button type="button" onclick="plotting( {{ '\'' ~ ticker  ~ '\'' }} )"
                            class="btn btn-outline-success">{{ ticker }}</button>
                </td>
                {#                <td><a href="{{ url_for('plot', index_ticker=ticker) }}"> {{ ticker }} </a></td>#}
                {#                <td>{{ ticker }}</td>#}
                <td > {{ current_day_prices[ticker] }}</td>
                <td id= {{ id_stock_price }}>?</td>
                <td id = {{ change_today }}>?</tdid>
                <td>{{ last_day_prices[ticker] }} </td>
                {#                <td>{{'%0.2f' % diff|float}}%</td>#}
                <td class="{{ 'red' if diff < 0 else 'green' }}">{{ '%0.2f' % diff|float }}</td>

                <style>
                    .red {
                        color: red;
                    }

                    .green {
                        color: green;
                    }
                </style>
                <td><a href="{{ url_for('redirect0', index_ticker=ticker) }}" target="_blank"> {{ ticker }} </a></td>
                {#                <td> <button type="button" onclick="plotting( {{ '\'' ~ ticker  ~ '\'' }} )" class="btn btn-outline-success">{{ ticker }}</button></td>#}
                {#                <td> <button onclick="foo(Rome)">Rome</button> </td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ url_for('products_app.list') }}">#}
    {#    <strong>Products list</strong>#}
    {#  </a>#}

    <div id="myplot">
    </div>

    <script type=text/javascript>
        function plotting(index_ticker) {
            {#index_ticker = JSON.parse(index_ticker);#}
            var ticker = '/plot/' + index_ticker
            {#console.log(ticker)#}
            $("#myplot").empty();
            fetch(ticker)
                .then(function (response) {
                    return response.json()
                })
                .then(function (item) {
                    Bokeh.embed.embed_item(item, 'myplot')
                })
            return false
        }
    </script>
    <script>
        function clearBox(elementID) {
            document.getElementById(elementID).innerHTML = "";
        }
    </script>


    {#    <script>#}
    {#    $(document).ready(function() { // When page finished loading#}
    {#  if ( $('.flash').length ) { // if there is an DOM that has class has-error#}
    {#     $('#changePasswordModal').modal('show'); // Show Modal#}
    {#  }#}
    {#});#}
    {#</script>#}
    {#            <script>#}
    {#                var i = {{i|tojson}};#}
    {#                var ticker_j = {{ticker_j|tojson}};#}
    {#                function set_form(id, value) {#}
    {#                    document.getElementById(id).innerHTML = value;#}
    {#                    return true#}
    {#                }#}
    {##}
    {#                function get_data(ticker0, index_indicator_form) {#}
    {#                    var price_out = 0;#}
    {#                    let ticker_out = '';#}
    {#                    $(document).ready(function () {#}
    {#                        $.ajax({#}
    {#                            dataType: "json",#}
    {#TODAY PRICE#}
    {#                            url: "/stocks/get_index_price/",#}
    {#                            data: 'ticker=' + ticker0,#}
    {#                            success: function (result) {#}
    {#alert(result.ticker + ' \t' + result.price)#}
    {#                                price_out = result.price#}
    {#                                ticker_out = result.ticker#}
    {#set_form(index_ticker_from, ticker_out)#}
    {#                                set_form(index_indicator_form, price_out)#}
    {#                            },#}
    {#                            error: function () {#}
    {#                                alert('Error occured');#}
    {#                            }#}
    {#                        });#}
    {#                    });#}
    {#                }#}
    {#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
    {#                get_data(#}
    {#                    ticker_j,#}
    {#                    i)#}
    {##}
    {#            </script>#}

    {#    <table class="table table-striped table-sm">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <th scope="col">№</th>#}
    {#            <th scope="col">ticker</th>#}
    {#            <th scope="col">current index</th>#}
    {#            <th scope="col">last day close</th>#}
    {#            <th scope="col">price change</th>#}
    {#            <th scope="col">volume change</th>#}
    {#            <th scope="col">Header</th>#}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {##}
    {#        {% for ticker,value in indexes.items() %}#}
    {#            <h1> {{ loop.index }}</h1>#}
    {#            <meta id="loop_len" content={{ loop.length }} r>#}
    {#            <meta id="data_index" content={{ loop.index }}>#}
    {##}
    {#https://stackoverflow.com/questions/40701973/create-dynamically-html-div-jinja2-and-ajax#}
    {#            <script>#}
    {#                var current_index = 999#}
    {#                current_index = document.querySelector('meta[id="data_index"]')['content']#}
    {#                document.write('#######')#}
    {#                document.write(current_index)#}
    {#            </script>#}
    {#            <tr>#}
    {#                <td> {{ loop.index }}</td>#}
    {#                <td id={{ loop.index }}>{{ ticker }}</td>#}
    {#                <td>{{ value[0][0] }}</td>#}
    {#                <td>{{ value[1] }}</td>#}
    {#                <td>{{ value[0][1] }}</td>#}
    {#                <td>text</td>#}
    {#                <td>text</td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#        </tbody>#}
    {#    </table>#}


    {% block body2 %}
        {#        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>#}
        {#        <form method="post">#}
        {#            <label for="input-stock-name"></label>#}
        {#            <input id="input-stock-name" type="text">#}
        {#        </form>#}
        {#    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>#}

        <!--    <div>-->
        <!--        <h1>add new product</h1>-->
        <!--        <form method="post">-->
        <!--            <label for="input-stock-name"></label>-->
        <!--            <input id="input-stock-name" type="text">-->
        <!--        </form>-->
        <ul>
            {#            {% for index in indexes %}#}
            {#                <li> index №{{ loop.index }}, ticker: {{ index }}</li>#}
            {#            {% endfor %}#}
            {#            <span>You have {{ indexes|length }} stocks</span>#}
        </ul>
    {% endblock %}
{% endblock %}
